init_config: null
instances:
{% for instance in monasca_plugin_http_check_instances %}
- built_by: {{ instance['built_by'] }}
  dimensions:
{% for k, v in instance['dimensions'].iteritems() %}
    {{ k }}: {{ v }}
{% endfor %}
  match_pattern: {{ instance['match_pattern'] }}
  name: {{ instance['name'] }}
  timeout: {{ instance['timeout'] }}
  url: {{ instance['url'] }}
  use_keystone: {{ instance['use_keystone'] }}
{% endfor %}
