init_config:
  admin_password: {{ openstack_identity_nova_password }}
  admin_tenant_name: service
  admin_user: nova
  cache_dir: /tmp/rr
  netserver_ip: {{ groups['neutron-network'][0] }}
  netserver_user: {{ monasca_agent_libvirt_user }}
  netserver_password: {{ monasca_agent_libvirt_user_password }}
  identity_uri: {{ openstack_identity_admin_url }}/v2.0
  metadata:
    - scale_group
  nova_refresh: 14400
  ping_check: /usr/bin/sudo /sbin/ip netns exec NAMESPACE /bin/ping -n -c1 -w1 -q
  vm_probation: 300
instances: []
