init_config:
  admin_password: {{ openstack_identity_nova_password }}
  admin_tenant_name: service
  admin_user: nova
  cache_dir: /dev/shm
  metadata:
    - scale_group
  nova_refresh: 14400
  vm_probation: 300
  vm_cpu_check_enable: true
  vm_disks_check_enable: true
  vm_network_check_enable: true
  vm_ping_check_enable: false
  vm_extended_disks_check_enable: true
instances: []
