init_config: null
instances:
  - built_by: MySQL
    name: {{ monasca_plugin_mysql_host }}
    pass: {{ monasca_plugin_mysql_password }}
    port: {{ monasca_plugin_mysql_port }}
    server: {{ monasca_plugin_mysql_host }}
    user: {{ monasca_plugin_mysql_user }}
