[Unit]
Description=Monasca forwarder
Requires=network-online.target
After=network-online.target monasca-collector

[Service]
Type=simple
Restart=on-failure
User=root
Group={{ monasca_group }}
ExecStart={{ monasca_agent_install_dir }}/bin/monasca-forwarder -v

[Install]
WantedBy=multi-user.target
