[Unit]
Description=Monasca statsd
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
User=root
Group={{ monasca_group }}
ExecStart={{ agent_install_dir }}/bin/monasca-statsd

[Install]
WantedBy=multi-user.target
